<mat-toolbar
  class="app-footer"
  color="accent"
  role="banner"
>
  <div
    class="app-footer__inner container"
    role="navigation"
  >
    <a
      href=""
      title="home"
      mat-icon-button
    >
      <mat-icon>home</mat-icon>
    </a>
    <a
      href=""
      title="your reactions list"
      mat-icon-button
    >
      <mat-icon>rule</mat-icon>
    </a>
    <a
      href=""
      title="profile"
      mat-icon-button
    >
      <mat-icon>person</mat-icon>
    </a>
  </div>
</mat-toolbar>
