@use "sass:math";
@import "../../../variables";

:host {
  @extend %flex-column;
}

.app-canvas {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.app-cards {
  position: relative;
  flex: 1 1 auto;
  min-height: 340px;
  padding: $grid-rhythm-base*2 0;
}

.app-action {
  flex: 0 0 auto;
  padding: $grid-rhythm-base*2 0;
}

.app-card {
  overflow: hidden;
  border-radius: math.round(math.div($grid-rhythm-base, 1.5));
  position: absolute;
  left: 50%;
  top: 50%;
  width: 280px;
  height: 340px;
  margin-top: -170px;
  margin-left: -140px;
  user-select: none;
  will-change: transform;
  transition: all .25s ease-in-out;

  &.--moved {
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
  }

  &--dummy {
    transform: rotate(-2deg);

    .mat-card-image {
      pointer-events: none;
    }
  }

  &:not(&--dummy):before {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
  }

  .mat-card {
    box-shadow: none;
    box-sizing: border-box;
    border-radius: $grid-rhythm-base;
    height: 100%;
    width: 100%;
  }


  .mat-card-image {
    position: relative;
    background-color: #dedede;

    &:before {
      content: '';
      display: block;
      width: 100%;
      padding-top: percentage(math.div(3, 4));
    }

    img {
      position: absolute;
      top: 0;
      display: block;
      opacity: 0;
      transition: opacity .2s linear;
      will-change: opacity;
    }
  }
}

.app-reactions {
  pointer-events: none;
}

.app-reaction {
  z-index: 1010;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  transform-origin: center center;
  transition: all .2s ease-in-out;
}

.app-empty {
  margin: auto;
  text-align: center;
}

.app-curtain {
  z-index: 1010;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(#ff4081, .7);
  color: #fff;
  text-shadow: 1px 1px 2px #333;
  transition: all .15s ease-in-out;
  will-change: opacity, visibility;
}

.app-curtain-title {
  & > i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 10rem;
    text-shadow: none;
    opacity: 0;
  }
}

.--animation-tada {
  animation: tada 1s alternate;
}

@keyframes tada {
  0% {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    opacity: 1;
    transform: scale3d(.5, .5, .5) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    opacity: 0;
    transform: scale3d(1, 1, 1);
  }
}
