@use "sass:math";
@import "../../../variables";

:host {
  @extend %flex-column;
}

.app-canvas {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.app-cards {
  position: relative;
  flex: 1 1 auto;
  min-height: 340px;
  padding: $grid-rhythm-base*2 0;
}

.app-action {
  flex: 0 0 auto;
  padding: $grid-rhythm-base*2 0;
}

.app-card {
  overflow: hidden;
  border-radius: math.round(math.div($grid-rhythm-base, 1.5));
  position: absolute;
  left: 50%;
  top: 50%;
  width: 280px;
  height: 340px;
  margin-top: -170px;
  margin-left: -140px;
  user-select: none;
  will-change: transform;
  transition: all .25s ease-in-out;
  cursor: grab;

  &:before {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
  }

  .mat-card {
    box-shadow: none;
    box-sizing: border-box;
    border-radius: $grid-rhythm-base;
    height: 100%;
    width: 100%;
  }

  .mat-card-image {
    position: relative;
    background-color: #dedede;

    &:before {
      content: '';
      display: block;
      width: 100%;
      padding-top: percentage(math.div(3, 4));
    }

    img {
      position: absolute;
      top: 0;
      display: block;
      opacity: 0;
      transition: opacity .2s linear;
      will-change: opacity;
    }
  }
}

.app-reactions {
  pointer-events: none;
}

.app-reaction {
  z-index: 1010;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  transform-origin: center center;
  transition: all .2s ease-in-out;
}

.app-empty {
  margin: auto;
  text-align: center;
}
