@import "normalize-scss/sass/normalize";
@import "../variables";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-main {
  @extend %flex-column;
  justify-content: center;
  position: relative;
}

// TODO: fix
//.app-title {
//  margin-bottom: $grid-rhythm-base*3;
//  line-height: 1.2;
//  text-align: center;
//}

.app-content {
  @extend %flex-column;
  padding-top: $grid-rhythm-base*2;
  padding-bottom: $grid-rhythm-base*2;
}
